<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serviceUrl" value="http://qa.todo.web.com"/>
    <add key="mailFrom" value="trungthao@mailinator.com"/>
    <add key="companyName" value="Challidea Company Ltd."/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <system.net>
    <mailSettings>
      <smtp>
        <!--<network host="smtp.gmail.com" port="587" defaultCredentials="dtrungthao@gmail.com" enableSsl="false" userName="dtrungthao@gmail.com" password="largetiger27"/>-->
        <network host="localhost" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
